@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}

/* 아현헤더 */

.header {
  width: 100%;
  height: 80px;
  background-color: #5b5b5b;
  overflow: hidden;
}

.head_bottom {
  width: 100%;
  height: 13px;
  background-color: #b592ff;
}

.header_icon {
  color: aliceblue;
}

.header_icon:hover {
  text-decoration: none;
  color: aliceblue;
}

.header_icon h1 {
  margin: 13px;
}

.nav-item {
  text-align: right;
  padding: 19px;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #b592ff;
}

.nav-link {
  color: #d9d9d9;
}

.nav-link:hover,
.nav-link:active {
  color: #d9d9d9;
}

/* 헤더끝 */

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 20px 0px 0px;
}

/* 버튼모음 */

button {
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: 5px;
  /* display: inline-block; */
  background-color: #f9f9f9;
  font-size: 13px;
}

.btn_insert_class {
  text-align: right;
  width: 675px;
}

button:hover {
  font-weight: bold;
  background-color: #ddd;
}

.btn_memo input[type="button"] {
  border: none;
  border-radius: 10px;
  padding: 3px 15px;
  /* display: inline-block; */
  background-color: #e4e4e4;
  font-size: 13px;
  font-weight: bold;
  color: #5b5b5b;
}

/* 버튼모음 끝 */

hr {
  border: 1.5px solid #5b5b5b;
}

/* aside */

main nav input {
  width: 180px;
  padding: 0.2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eee;
  margin: 10px 5px;
}

main nav {
  position: relative;
}

main nav i {
  font-size: 25px;
  color: aliceblue;
  position: absolute;
  right: 13px;
  top: 13px;
}

aside {
  width: 250px;
  height: 700px;
  padding: 5px;
  background-color: #5b5b5b;
  float: left;
}

.customer_info {
  width: 200px;
  margin-left: 10px;
  color: aliceblue;
  font-weight: bold;
  border-collapse: collapse;
  /* border: 1px solid #d9d9d9; */
}

.customer_info caption {
  font-size: 20px;
  caption-side: top;
  color: aliceblue;
  font-weight: bold;
}

.customer_info tr,
.customer_info td {
  height: 30px;
}

.customer_info td:first-child {
  text-align: left;
  width: 80px;
  /* border: 1px solid #d9d9d9; */
}

.customer_info td:last-child {
  text-align: left;
  padding-left: 20px;
}

/* aside 끝 */

/* -- 서비스 섹션 -- */

.customer_service {
  width: 800px;
  height: 700px;
  padding: 50px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 20px;
}

section > .sectionHeader {
  text-align: left;
  font-size: 23px;
  font-weight: bold;
  margin-left: 10px;
}

/* 아코디언 버튼 색 바꾸기 */

.accordion-button {
  background-color: #ffffff !important;
  /* color: #5b5b5b !important; */
  font-weight: bold;
}

.accordion-button:active,
.accordion-button:focus {
  background-color: #f9f9f9 !important;
}

.accordion-button:hover {
  background-color: #ddd !important;
}

/* 아코디언 안 테이블 */

.accordion-body {
  margin: 10px 10px 10px 30px;
  padding: 0;
  font-size: 13px;
  overflow-y: auto;
  max-height: 170px;
}

.table_service > table {
  border-collapse: collapse;
  width: 680px;
  margin-bottom: 10px;
}

.table_service table th,
.table_service table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.table_service button {
  background-color: #5b5b5b;
  color: white; /* 흰색 텍스트 */
  padding: 1px 5px; /* 패딩 설정 */
  border: none; /* 테두리 없음 */
  cursor: pointer;
  border-radius: 8px; /* 모서리 둥글게 */
}

/* .table_service button:first-of-type {
  background: skyblue;
}

.table_service button:last-of-type {
  background-color: red;
} */

#btn_UD {
  margin: 0;
  width: 60px;
  border: none;
  font-size: 12px;
}

/* 일련번호 컬럼의 너비를 200px로 설정 */
.table_service #num {
  width: 180px;
}

/* 메모 섹션 */
.customer_memo > .sectionHeader {
  font-size: 15px;
}

.customer_memo {
  width: 400px;
  height: 700px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 20px;
}

textarea {
  width: 350px;
  font-size: 12px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: none; /* 테두리 없앰 */
  padding: 10px; /* 내부 여백 추가 */
}

.table_memo {
  width: 360px;
  font-size: 14px;
}

thead {
  background-color: #b592ff;
  color: #f9f9f9;
  height: 40px;
  font-size: 12px;
}

.table_memo th,
.table_memo td {
  border: 1px solid #ddd;
}

.selected-row {
  background-color: #fae8ff; /* 선택된 행의 배경색 */
}

.col_important {
  width: 40px;
  text-align: center;
}

.col_content {
  width: 200px;
  text-align: left;
  padding: 5px;
}
