* {
  padding: 0;
  margin: 0;
}

body {
  width: 800px;
  height: 400px;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

section {
  width: 700px;
  height: 200px;
  padding: 50px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 20px;
}

section > .sectionHeader {
  text-align: left;
  font-size: 23px;
  font-weight: bold;
  color: #c6c6c6;
  margin-left: 10px;
  margin-bottom: 10px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #d9d9d9;
  padding: 13px 5px;
}

#btn_insert {
  border: none;
}

input {
  width: 100px;
  height: 30px;
  padding: 8px;
  box-sizing: border-box;
}

select {
  width: 110px;
  height: 30px;
}

#rowNum {
  width: 40px;
  background-color: #f9f9f9;
  border: none;
  text-align: center;
}
#type {
  width: 50px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  /* display: inline-block; */
  background-color: #e4e4e4;
  font-size: 13px;
  font-weight: bold;
  color: #5b5b5b;
}

button:hover {
  color: aliceblue;
  background-color: #b592ff;
}
