
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>카톡 공유</title>
<script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
    <input type="button" onClick="sendLinkDefault();" value="Default"/>

	<a href="https://kauth.kakao.com/oauth/authorize?client_id=4340646219326247fb0a9428d5ba413d&redirect_uri=http://localhost:8080/oauth/kakao&response_type=code">
		<img src="/img/kakao_login_btn.png"></a>
   		
   		<button onclick=""></button>
   		
</body>
</html>