
<header th:fragment="head1">
	<div class="header">
		<ul class="nav">
		  <li class="flex-grow-1">
		    <a class="header_icon" th:href="@{/}"><h1>21VIP SYSTEM</h1></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="#">예약관리</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">일정관리</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/login}">로그인</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/logout}">로그아웃</a>
		  </li>
		</ul>
	</div>
	<div class="head_bottom"></div>
</header>
