<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}">
<link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
	<div th:include="~{/header :: head1}"></div>
	<div class="loginForm">
		<form th:action="login" method="post">
			<table>
				<tr>
					<th>아이디</th>
					<td><input type="text" name="userId"></td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td><input type="text" name="userPw"></td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="로그인">
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	
	<script th:src="@{/bootstrap.bundle.js}"></script>
</body>
</html>