@charset "UTF-8";

aside{
	height: 950px;
}

.memberList{
	height: auto;
}
.card{
	background-color: white;
	margin: 10px;
}

.memberInfo{
	display: inline-flex;
	font-size: 20px;
}

.memberInfo span{
	margin: 0 30px;
}

.memberChange{
	display: inline-flex;
	font-size: 20px;
	margin-left: auto;
	margin-right: 30px;
}

.memberChange button{
	border: none;
	background-color: white;
}

.spacing{
	margin: 0 20px;
}

.img {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.img-right{
	list-style: none;
	line-height: 2.5rem;
	margin-top: 5px;
	padding-left: 0;
	margin-left: 1rem;
}
