.row.row-cols-1.row-cols-md-2 {
	border-radius: 10px;
	justify-content: center;
	margin-top: 1rem;
}

.col.col-1 {
	width: 30%;
}

.col.col-2 {
	width: 68%;
}

.card {
	background-color: #f9f9f9;
}

body {
	background-color: #d9d9d9;
}

table,
tr,
td {
	text-align: left;
}

.img-right,
form>.img-bottom {
	list-style: none;
	line-height: 2.5rem;
	margin-top: 5px;
	padding-left: 0;
	margin-left: 1rem;
}

.img-bottom {
	margin-top: 1rem;
}

.img {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.img>form>.send>img {
	margin-left: 1rem;
	border-radius: 70%;
	width: 150px;
	height: 150px;
}

.card-title {
	font-size: 23px;
	font-weight: bold;
	margin-left: 10px;
}

.card-title>span {
	font-size: 15px;
	float: right;
}

.card-title>span>input {
	border: none;
	background-color: #f9f9f9;
}

.card-body>.card-text>ul,
.modal-body>ul,
.modal-body>form>ul {
	list-style-type: none;
	list-style: none;
	line-height: 1.7rem;
	margin-top: 5px;
	padding-left: 0;
	margin-left: 1rem;
}

input {
	height: 24px;
}

.fc .fc-daygrid-day-top {
	display: flex;
	flex-direction: row;
}

.fc .fc-daygrid-day-top>a {
	text-decoration: none;
	color: black;
}

.fc-scrollgrid-sync-inner>a {
	text-decoration: none;
	color: black;
}

#uploadImage {
	cursor: pointer;
	transition: opacity 0.5s ease-in-out;
}

#hoverImage:hover {
	opacity: 0.5;
}

#pwError {
	font-size: small;
	color: darkred;
	margin-bottom: 0;
}
#pwOk {
	font-size: small;
	color: blue;
	margin-bottom: 0;
}


.box {
	width: 295px;
	height: 148px;
	margin-left: 1rem;
}

.pallet {
	width: 295px;
	height: 250px;

}

.active {
	outline: 1px solid black;
}

.colorBox {
	width: 20px;
	height: 20px;
	float: left;
	margin: 1px 1px 0px 0px;
	cursor: pointer;
}

#checkBox {
	display: flex;
	margin-top: 0.5rem;
}

#checkBox > .form-check {
	margin-right: 1rem;
	margin-left: 2.5rem;
	font-weight: bold;
}
