@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	}
	

.header{
	width: 100%;
	height: 80px;
	background-color: #5b5b5b;
	overflow: hidden;
}

.head_bottom{
	width: 100%;
	height: 13px;
	background-color: #b592ff;
}


.header_icon{
	color:aliceblue;
}

.header_icon:hover{
	text-decoration: none;
	color:aliceblue;
}

.header_icon h1{
	margin: 13px;
}

.nav-item{
	text-align: right;
	padding: 19px;
	font-size: 20px;
}

.nav-item:hover{
	background-color: #b592ff;
}

.nav-link{
	color: #d9d9d9;
}

.nav-link:hover, .nav-link:active{
	color: #d9d9d9;
}


body{
	display: flex;
	flex-direction: column;
	background-color: #d9d9d9;
}

.main{
	margin: 30px;
	height: 700px;
	text-align: center;
	border-radius: 10px;
	background-color: #fcfcfc;
}

.main img{
	width: 800px;
}


.loginForm{
	margin-top: 180px;
	margin-left: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 600px;
	height: 300px;
	border-radius: 10px;
	background-color: #fcfcfc;
}

.loginForm form{
	font-size: 24px;
	text-align: center;
}

.loginForm th{
	text-align: center;
	padding-right: 5px;
}

.loginForm input{
	background-color: #ededed;
	border: none;
	padding: 9px 15px;
  	margin: 8px 10px;
  	width: 100%;
}

.logout{
	margin-top: 200px;
	margin-left: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 800px;
	height: 200px;
	border-radius: 10px;
	background-color: #fcfcfc;
}